* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.here {
    width: 100%;
    height: 400px;
    background-image: url("https://tinyurl.com/y5n39s3u");
    background-size: cover;
    border: 1px solid black;

}

body {
   /* display: flex;
   margin-left: 5px; */
}

main {
    /* flex-direction: column;
    justify-content: center;
    align-items: center;  */
}

.hero {

}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

ul, nav-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: flex;

    padding: 8px;
}