* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
   display: flex;
   flex-direction: column;
   padding: 20px;
   border-style: ridge;
   margin: 10px 10px 10px 10px;
 }

 .hero h1 {
     display: flex;
     flex-direction: row;
     justify-content: center;
     text-align: center;
     margin: auto;
     margin-top: 20px;
     font-family: 'Playball', cursive;
     font-size: 80px;
 }

 h3 {
     font-family: 'Poppins', sans-serif;
     margin-bottom: 10px;
     padding: 10px;
     font-size: 28px;
 }

.bannerHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    border-bottom-style: ridge;
}

.zeeQuote {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 10px;
}

nav {
    border-bottom-style: ridge;
}

.nav-link, a {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   font-size: 40px;
   text-decoration: none;
   padding: 10px;
   font-family: 'Playball', cursive;
   color: black;
   font-weight: lighter;
   list-style-type: none; 
   text-align: center;
}

.quotes {
    border-bottom-style: groove;
}

.quote-Author {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 20px;
}

#js-quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    background-color: #faf3dd;
    padding: 10px 10px 10px 10px;
    margin: 50px 10px 10px 10px;
    height: 250px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    margin-bottom: 40px;
    border-radius: 10%;
}

#about {
    
    padding: 20px;
    margin-bottom: 20px;
    border-top-style: groove;
   
}

h2 {
    font-family: 'Playball', cursive;
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

img {
    width: 200px;
    margin-bottom: 20px;
}

.zee-bio p {
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    }

/* .tab { margin-left: 10px; } */

#projects {
    padding: 20px;
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    /* border-bottom-style: groove; */
    border-top-style: groove;
}

#projects ul {
    font-size: 28px;
}

#contact {
    padding: 20px;  
    border-top-style: groove;
}

.contact li {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   max-inline-size: 20px;
}

#contact ul {
    list-style: none;
}

#home {
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Playball', cursive;
    padding: 10px;
    margin-bottom: 10px;
}

#contact img {
    display: flex;
    flex-direction: row;
    width: 50px;
}

.project li {
    list-style: none;
    line-height: 1.6;
}

h4 {
    line-height: 1.6;
    text-decoration: underline;
    font-family: 'Playball', cursive;
    font-weight: lighter;
    font-size: 30px;
    letter-spacing: 0.2em;
}

.zee-quizapp {
   margin-top: 20px;
   margin-right: 50%;
}

.liveAppLink a {
    /* display: flex; */
    /* justify-content: flex-start;
    margin-left: 10%; */
    font-size: 30px;
    text-decoration: underline;
    letter-spacing: 0.2em;
}

@media screen and (min-width: 700px) {
    body {
        display: flex;
        flex-direction: row;
        padding: 30px;
        border-style: ridge;
        margin: 20px 20px 20px 20px;
        }
    .nav-link, a {
        display: flex;
        flex-direction: row;
    }
    #js-quotes {
        padding: 10px 10px 10px 10px;
        margin-left: 12%;
        height: 200px;
        width: 80%;
        }
    h2 {
        margin-bottom: 30px;
    }
    img {
            display: flex;
            margin-left: 30%;
            width: 200px;
            margin-bottom: 20px;
        }
    #contact ul {
        display: flex;
        justify-content: space-evenly;
        
    }       
}

@media screen and (min-width: 1600px) {
    #js-quotes {
        border-radius: 5%;
        padding: 10px 10px 10px 10px;
        margin-left: 12%;
        height: 200px;
        width: 80%;
        }

    img {
        display: flex;
        margin-left: 40%;
        width: 300px;
        margin-bottom: 20px;
        }

   .zee-quizapp {
       margin-left: 0;
   }
}